@font-face {
  font-family: 'Gilroy';
  src: urlCss('fonts/Gilroy Light/Gilroy-Light.eot');
  src: urlCss('fonts/Gilroy Light/Gilroy-Light.eot') format('embedded-opentype'),
  urlCss('fonts/Gilroy Light/Gilroy-Light.woff2') format('woff2'),
  urlCss('fonts/Gilroy Light/Gilroy-Light.woff') format('woff'),
  urlCss('fonts/Gilroy Light/Gilroy-Light.ttf') format('truetype'),
  urlCss('fonts/Gilroy Light/Gilroy-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'Gilroy';
  src: urlCss('fonts/Gilroy Extra-Bold/Gilroy-ExtraBold.eot');
  src: urlCss('fonts/Gilroy Extra-Bold/Gilroy-ExtraBold.eot') format('embedded-opentype'),
  urlCss('fonts/Gilroy Extra-Bold/Gilroy-ExtraBold.woff2') format('woff2'),
  urlCss('fonts/Gilroy Extra-Bold/Gilroy-ExtraBold.woff') format('woff'),
  urlCss('fonts/Gilroy Extra-Bold/Gilroy-ExtraBold.ttf') format('truetype'),
  urlCss('fonts/Gilroy Extra-Bold/Gilroy-ExtraBold.svg') format('svg');
  font-weight: 800;
  font-style: normal;
}
