@media only screen and (orientation: portrait) {
  html {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1440px) {
  html {
    font-size: 16px;
  }
  .case-content {
    background-size: 130%;
    background-position: 50% 50%;
  }
}


@media only screen and (max-width: 1170px) {
  .case-content {
    background-size: 120%;
    background-position: 50% 50%;
  }
}

@media only screen and (max-width: 800px) {
  .case-cover .container {
    flex-direction: column-reverse;
  }
  .case-cover__image {
    margin-bottom: 40px;
    max-width: 320px;

    img {
      width: 100%;
    }
  }
  .case-box .container {
    flex-direction: column;
  }
  .case-solution .container {
    flex-direction: column;
  }
  .text-box, .image-box {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: 768px) {
  .header-box__menu {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .case-solution .case-points {
    p {
      left: 40px !important;
    }
  }
  .case-solution__image {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .text-box__text ul li {
    margin-left: 0;
  }

  .case-cover__text {
    font-size: 28px;
  }
  .case-cover__image {
    max-width: 280px;
  }
  .case-client {
    padding: 60px 0;
  }
  .case-approach {
    padding: 40px 0;
  }
  .text-box__title {
    font-size: 26px;
  }
  .case-solution {
    .text-box {
      margin-top: 30px;
    }
  }
  .case-results .container .text-box .text-box__title {
    margin-bottom: 30px;
  }
  .case-results {
    padding: 50px 0;
  }
  .case-timeframe {
    padding: 30px 0;
  }
  .image-box {
    margin-bottom: 30px !important;
    img {
      width: 100% !important;
    }
  }
  .case-timeframe .timeframe-box {
    flex-direction: column;
  }
  .case-timeframe .timeframe-box .timeframe-box__item {
    width: 100%;
    margin-bottom: 60px;
  }
  .case-timeframe .text-box__title {
    margin-bottom: 40px;
  }
  .case-timeframe .timeframe-box:before {
    width: 4px;
    height: 72%;
    transform: translate(-50%, -50%);
    bottom: initial;
    top: 50%;
  }
  .case-solution__image img {
    object-fit: initial;
    height: auto;
  }
}