.blog-header {
  position: relative;
  width: 100%;
  background-color: #fff;
}

.header-box {
  padding: 23px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-box__menu {
  text-align: right;

  a {
    color: $font-color;
    font-size: 16px;
    transition: color $time;
    margin-right: 40px;


    &:last-child {
      margin-right: 0;
    }

    &.active, &:hover {
      color: $green;
    }
  }
}

.case-content {
  background-image: url("../../img/blog-content__bg.png");
  background-repeat: repeat-y;
}

.case-cover {
  position: relative;
  width: 100%;
  padding: 73px 0;
  background: #3C3E5B;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    width: 100%;
    max-width: 575px;
    margin-right: 20px;
    font-weight: 800;
    font-size: 36px;
    color: #fff;

    span {
      font-weight: 300;
      font-size: 24px;
      display: block;
    }
  }

  &__image {
    width: 100%;
    max-width: 391px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: auto;
      position: relative;
    }
  }
}

.case-box {
  position: relative;
  width: 100%;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .image-box {
    width: 100%;
    max-width: 460px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    img {
      position: relative;
      width: auto;
    }
  }
}

.text-box {
  width: 100%;
  max-width: 674px;

  &__title {
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 10px;
    color: #3C3E5B;
  }

  &__text {
    padding-right: 20px;

    p {
      font-weight: 300;
      font-size: 18px;
      color: #3C3E5B;
      margin-bottom: 20px;
    }

    ul {
      li {
        margin-left: 43px;
        padding-left: 21px;
        margin-bottom: 20px;
        position: relative;

        &:before {
          position: absolute;
          top: 10px;
          left: 0;
          width: 6px;
          height: 6px;
          background: #22C568;
          border-radius: 50%;
          content: '';
        }
      }
    }
  }
}

.case-timeframe {
  position: relative;
  width: 100%;
  padding: 100px 0 259px;

  .text-box__title {
    margin-bottom: 90px;
  }

  .timeframe-box__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    .total-time {
      padding: 30px 30px;
      font-weight: 700;
      background: #22C568;
      border-radius: 40px 40px 0 0;
      color: #fff;
    }
  }

  .timeframe-box {
    border: 2px dotted #22C568;
    border-radius: 40px;
    padding: 30px 0;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;

    &:before {
      position: absolute;
      bottom: 52px;
      left: 50%;
      transform: translateX(-50%);
      width: 76%;
      content: '';
      height: 4px;
      background: #CCCFFF;
      border-radius: 40px;
    }

    .timeframe-box__item {
      position: relative;
      width: 25%;
      min-height: 90px;

      p {
        font-weight: 800;
        font-size: 18px;
        color: #3C3E5B;
        text-align: center;

        span {
          display: block;
          font-weight: 300;
          font-size: 16px;
        }

        &:before {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 49px;
          height: 49px;
          border-radius: 50%;
          background: linear-gradient(242.08deg, #F4F4FC -2.01%, #CED1F2 77.44%);
          content: '\25CF';
          color: #22C568;
          display: flex;
          align-items: center;
          justify-content: center;
          line-height: 49px;
        }
      }
    }
  }
}

@keyframes lineAnimation {
  0% {
    width: 0;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}

.reverse {
  .container {
    flex-direction: row-reverse;

    .image-box {
      margin-right: 0;
    }

    .text-box {
      margin-right: 20px;
    }
  }
}

.case-client {
  padding: 131px 0;
}

.case-problem {
  padding: 50px 0;
  background: linear-gradient(180deg, rgba(#4D516A, .1) 0%, rgba(77, 81, 106, 0) 100%);
}

.case-approach {
  padding: 110px 0;
}

.case-solution {
  position: relative;
  width: 100%;
  padding: 80px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__image {
    position: relative;
    width: 100%;
    max-width: 575px;
    margin-right: 20px;
    display: flex;
    justify-content: center;

    img {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .case-points {
    position: absolute;
    width: 100%;
    max-width: 520px;
    z-index: 3;

    p {
      position: absolute;
      width: 100%;
      max-width: 250px;
      margin-bottom: 40px;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(#3C3E5B, .1);
        width: 49px;
        height: 49px;
        content: '1';
        font-weight: 800;
        font-size: 18px;
        color: #22C568;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        z-index: -1;
        transform: translate(-70%, -60%);
      }

      &:nth-child(1) {
        top: 65px;
        left: 100px;
      }

      &:nth-child(2) {
        top: 190px;
        left: 211px;

        &:before {
          content: '2';
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.case-results {
  position: relative;
  width: 100%;
  padding: 100px 0;
  background: linear-gradient(180deg, rgba(#4D516A, .1) 0%, rgba(77, 81, 106, 0) 100%);

  .container {
    .text-box {
      max-width: 716px;

      .text-box__title {
        margin-bottom: 76px;
      }
    }
  }

}


.blog-footer {
  background: $dark-grey;
  width: 100%;
  padding: 50px 0;
  font-size: 16px;
}

.blog-footer__links {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 15px;
  border-bottom: 1px solid $green;
}

.blog-footer__box {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  color: #fff;
  margin-right: 50px;
  margin-bottom: 30px;

  &:last-child {
    margin-right: 0;
  }

  a {
    margin-bottom: 5px;
    transition: color $time;

    &:hover {
      color: $green;
    }
  }
}

.blog-footer__box--title {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}

.blog-footer__copyright {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  padding-top: 15px;

  p, a {
    margin-right: 35px;
  }

  a {
    margin-bottom: 5px;
    transition: color $time;

    &:hover {
      color: $green;
    }
  }
}