<footer class="blog-footer">
    <div class="container">
        <div class="blog-footer__links">
            <div class="blog-footer__box">
                <p class="blog-footer__box--title">Services</p>
                <a href="https://www.real-ware.com/services_strategy.html">Strategy</a>
                <a href="https://www.real-ware.com/services_develop.html">Software Design</a>
                <a href="https://www.real-ware.com/services_develop.html">Development</a>
                <a href="https://www.real-ware.com/services_develop.html">Platform Development</a>
                <a href="https://www.real-ware.com/services_develop.html">Custom Development</a>
                <a href="https://www.real-ware.com/services_Total-Commerce.html">Total Commerce</a>
            </div>
            <div class="blog-footer__box">
                <p class="blog-footer__box--title">Total Solutions™</p>
                <a href="https://www.real-ware.com/services_Total-Commerce.html">Total Commerce™</a>
                <a href="https://www.real-ware.com/services_Total-Commerce.html">Total CMS™</a>
                <a href="https://www.real-ware.com/services_Total-Commerce.html">Total Workflow™</a>
            </div>
            <div class="blog-footer__box">
                <p class="blog-footer__box--title">Real:360™ Your Advantage!</p>
                <a href="https://www.real-ware.com/360_approach.html">Real:360™ DevOps</a>
                <a href="https://www.real-ware.com/360_approach.html">Real:360™ Support</a>
                <a href="https://www.real-ware.com/360_approach.html">Real:360™ Scalable, Reliable, Secure</a>
            </div>
            <div class="blog-footer__box">
                <p class="blog-footer__box--title">Our Office</p>
                <p>Realware LLC</p>
                <p>201 Terry Street</p>
                <p>Suite 2-C</p>
                <p>Longmont, Colorado</p>
                <p>80501</p>
            </div>
        </div>
        <div class="blog-footer__copyright">
            <p>© 2017 Realware</p>
            <a href="https://www.real-ware.com/#">Terms of Service</a>
            <a href="https://www.real-ware.com/#">Sitemap</a>
        </div>
    </div>
</footer>