$urlPath: "../../";

$breakMobile: 768px;
$breakTablet: 1024px;

$devices: not-desktop phablets phones-tablets;
$devices: not-desktop phablets phones-tablets;

/*color*/
$font-color: #3C3E5B;
$green: #22C568;
$dark-grey: #131420;
/*fonts*/
$Gilroy: 'Gilroy';
/*effects*/
$time: .4s ease-in-out;
